@charset "UTF-8";
* {
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

.container {
  width: 1040px;
  margin: 0 auto; }

a, a:visited {
  color: #3BB2D0; }

section {
  margin-bottom: 65px; }

.section-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.section-header h3 {
  display: inline-block;
  margin: 0 0 15px 0;
  font-weight: lighter;
  font-size: 28px;
  color: #C32D7B; }

.section-header-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px; }

@media screen and (max-width: 760px) {
  .container {
    width: 100%; }
  section {
    margin-bottom: 30px;
    padding: 0 20px; } }

.header-container {
  width: 100%;
  height: 100px;
  margin-bottom: 60px;
  background: #C32D7B;
  background-image: url(../img/header-bg.png), linear-gradient(-49deg, #C32D7B 0%, #C90E39 100%);
  background-size: 100% 100px;
  background-repeat: no-repeat; }

.insights--header-container {
  opacity: 0.73;
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.84) 0%, rgba(0, 0, 0, 0.42) 85%); }

.header {
  width: 1040px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

a.header-title-link {
  color: white;
  text-decoration: none; }

.header-title {
  margin: 0;
  padding-left: 72px;
  height: 52px;
  font-size: 19px;
  line-height: 50px;
  text-transform: uppercase;
  background-image: url(../img/wri-logo.png);
  background-repeat: no-repeat;
  background-size: 52px 52px; }

.header-links {
  list-style-type: none;
  width: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header-links li {
  display: inline-block; }

.header-links a {
  color: white;
  font-weight: lighter;
  text-decoration: none; }

.header-menu-label {
  display: none;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.92px;
  line-height: 15px;
  padding: 10px 20px;
  text-transform: uppercase;
  background: transparent; }

@media screen and (max-width: 760px) {
  .header-container {
    height: 80px;
    background-size: auto 80px;
    margin-bottom: 0; }
  .header {
    width: 100%;
    padding-right: 20px; }
  .header-title {
    font-size: 14px;
    padding-left: 65px;
    background-size: 31px 31px;
    background-position: 20px 9px; }
  .header-links {
    display: none; }
  .header-menu-label {
    display: inline-block; }
  .header-mobile {
    position: absolute;
    top: 0;
    bottom: 0;
    height: auto;
    margin: 0;
    z-index: 1; }
    .header-mobile .header {
      height: 80px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.22); }
    .header-mobile .header-links {
      display: block;
      position: absolute;
      top: 80px;
      left: 0;
      margin-top: 35px; }
    .header-mobile .header-links li {
      display: block;
      font-size: 25px;
      line-height: 22px;
      margin-bottom: 25px; }
    .header-mobile .header-menu-label {
      background: rgba(255, 255, 255, 0.4); } }

.footer-container {
  width: 100%;
  height: 100px;
  border-top: 1px solid #E3E4E6; }

.footer {
  width: 1040px;
  height: 100%;
  margin: 0 auto;
  font-weight: lighter;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.footer a {
  color: black;
  text-decoration: none; }

.footer a:hover {
  color: #3BB2D0; }

.footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative; }
  .footer-links li {
    font-size: 15px;
    display: inline-block; }
  .footer-links a {
    color: #999BA1;
    text-decoration: none; }
  .footer-links a:hover {
    color: #3BB2D0; }

@media screen and (max-width: 760px) {
  .footer-container {
    background: #F4F5F6;
    height: 300px; }
  .footer {
    width: 100%;
    height: auto;
    margin: 30px 20px;
    font-size: 17px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .footer a:first-of-type {
    width: 50%;
    display: block; }
  .footer-links {
    width: 185px;
    display: block; }
  .footer-links li {
    display: block;
    margin-bottom: 15px;
    font-size: 17px; }
  .footer-link:last-of-type {
    display: none; } }

.gridbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.gridbox .cell {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 320px;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px; }

.gridbox .cell {
  margin-right: 40px; }

.gridbox .cell:nth-child(3n+3) {
  margin-right: 0; }

@media screen and (max-width: 750px) {
  .gridbox .cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; } }

.table {
  width: 100%;
  color: #393F44;
  font-size: 14px; }

.table, .table thead tr th {
  font-weight: lighter; }

.table thead tr {
  text-align: left;
  border-top: 1px solid #E3E4E6; }

.table thead tr th {
  color: #A9B0B6; }

.table th {
  padding: 10px 0; }

.table td {
  padding: 20px 0; }

.table th:first-child, .table td:first-child {
  padding-left: 20px; }
.table th:last-child, .table td:last-child {
  padding-right: 20px;
  text-align: right; }

.table tbody tr:nth-child(odd) {
  background-color: #F4F5F6; }

.table tbody tr:nth-child(even) {
  background-color: #FFFFFF; }

.table a {
  text-decoration: none; }

.table-stars {
  color: #A9B0B6; }

.table-info-download a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  margin-right: 5px; }
.table-info-download a:first-of-type {
  color: #C32D7B; }
.table-info-download a:last-of-type {
  color: #65B60D; }

a.button {
  background-image: linear-gradient(-180deg, #C32D7B 0%, #B6216E 100%);
  border-radius: 3px;
  color: #FFFFFF;
  letter-spacing: 1.07px;
  line-height: 17px;
  border: 0;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase; }

a.button.button-small {
  font-size: 12px;
  height: 30px;
  padding: 0 10px;
  line-height: 27px; }

a.button.button-large {
  width: auto;
  height: 45px;
  padding: 14px 23px;
  font-size: 16px; }

a.button.button-blue {
  background-image: none;
  background: #00A6DE; }

.button:hover {
  cursor: pointer; }

.hero {
  width: 100%;
  height: 430px;
  padding: 30px;
  position: relative;
  background: url(../img/hero-1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  font-weight: lighter;
  color: white; }
  .hero a {
    color: white; }

.hero-sub-title {
  font-size: 13px;
  text-transform: uppercase; }

.hero-title {
  font-size: 48px;
  width: 600px;
  position: absolute;
  bottom: 100px; }

.hero-info {
  position: absolute;
  bottom: 30px;
  right: 30px;
  left: 30px; }

.hero-info-source, .hero-info-stars {
  height: 40px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .hero-info-source img, .hero-info-stars img {
    width: 38px;
    height: 38px;
    margin-right: 10px; }

.hero-info-stars {
  position: absolute;
  right: 0; }

@media screen and (max-width: 760px) {
  .hero {
    background-size: auto 100%; }
  .hero-title {
    width: auto;
    position: relative;
    bottom: -120px; } }

.banner {
  position: relative;
  height: 280px; }

.banner-image {
  width: 100%;
  float: left; }

.banner-header {
  color: white;
  font-size: 38px;
  font-weight: lighter;
  line-height: 42px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 360px; }

.banner-header, a.button.banner-button {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 250px; }

.banner-button {
  top: 175px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24); }

@media screen and (max-width: 760px) {
  .banner {
    overflow: hidden; }
  .banner-image {
    width: auto;
    height: 100%; }
  .banner-header {
    width: 350px;
    top: 0; }
  .banner-button {
    top: 190px; } }

.card {
  position: relative;
  overflow: hidden;
  margin: 0.5rem 0 1rem 0;
  background-color: white; }

.card.insight {
  height: 340px;
  width: 320px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); }
  .card.insight .card-image {
    height: 180px; }
  .card.insight .card-image img {
    position: relative;
    width: 100%;
    height: 100%; }
  .card.insight .card-content, .card.insight .card-info {
    border: 1px solid rgba(202, 204, 208, 0.54);
    border-top: 0; }
  .card.insight .card-content, .card.insight .card-info {
    padding: 20px; }
  .card.insight .card-content {
    height: 95px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-bottom: 0; }
  .card.insight .card-info {
    height: 65px;
    margin: 0;
    list-style-type: none;
    font-size: 14px; }
  .card.insight .card-info-source, .card.insight .card-info-stars {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 45%; }
  .card.insight .card-info-source {
    float: left; }
    .card.insight .card-info-source img {
      width: 38px;
      height: 38px;
      float: left; }
  .card.insight .card-info-stars {
    float: right;
    color: #A9B0B6; }
    .card.insight .card-info-stars span {
      width: 100%;
      text-align: right; }
  .card.insight .card-title {
    font-size: 21px;
    font-weight: bold;
    color: #393F44;
    margin: 0; }
  .card.insight .card-sub-title {
    font-size: 11px;
    font-weight: lighter;
    color: #C3C8CC;
    margin: 0px 0px 5px;
    text-transform: uppercase; }

@media screen and (max-width: 760px) {
  .card.insight {
    width: 100%; } }

.card.data {
  height: 310px;
  width: 230px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); }
  .card.data .card-image {
    height: 180px; }
  .card.data .card-image img {
    position: relative;
    width: 100%;
    height: 100%; }
  .card.data .card-content, .card.data .card-info {
    border: 1px solid rgba(202, 204, 208, 0.54);
    border-top: 0; }
  .card.data .card-content, .card.data .card-info {
    padding: 20px; }
  .card.data .card-content {
    height: 80px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-bottom: 0; }
  .card.data .card-info {
    height: 50px;
    margin: 0;
    list-style-type: none;
    font-size: 14px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .card.data .card-info-download, .card.data .card-info-stars {
    height: 100%;
    width: 50%; }
  .card.data .card-info-download {
    float: left; }
    .card.data .card-info-download a {
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      margin-right: 5px; }
    .card.data .card-info-download a:first-of-type {
      color: #C32D7B; }
    .card.data .card-info-download a:last-of-type {
      color: #65B60D; }
  .card.data .card-info-stars {
    float: right;
    color: #A9B0B6;
    text-align: right; }
  .card.data .card-title {
    font-size: 17px;
    font-weight: bold;
    color: #3BB2D0;
    margin: 0; }
  .card.data .card-sub-title {
    font-size: 14px;
    font-weight: lighter;
    color: #6C7379;
    margin: 5px 0px 0px; }

.card.category {
  width: 331px;
  height: 256px;
  background-image: url(../img/category-photo-frame.png);
  background-size: 100%;
  background-repeat: no-repeat; }
  .card.category .card-image {
    height: 226px; }
    .card.category .card-image img {
      width: 312px;
      height: 204px;
      position: relative;
      top: 10px;
      left: 9px; }
  .card.category .card-caption {
    height: 30px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #393F44; }

.card.app {
  width: 320px;
  height: 210px; }
  .card.app .card-image {
    height: 180px; }
    .card.app .card-image img {
      width: 320px;
      height: 180px; }
  .card.app .card-caption, .card.app .card-info-stars {
    display: inline-block; }
  .card.app .card-caption {
    height: 30px;
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
    color: #393F44; }
  .card.app .card-info-stars {
    color: #A9B0B6;
    text-align: right; }

.card-caption-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

@media screen and (max-width: 760px) {
  .card.app {
    width: 100%; }
  .card.app .card-image {
    overflow: hidden; }
  .card.app .card-image img {
    width: 100%;
    height: auto; } }

.title {
  width: 100%;
  height: 500px;
  top: 0;
  margin-top: -101px;
  padding-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.title-text {
  margin: 0;
  font-size: 62px;
  color: white;
  line-height: 82px;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.26); }

.title-sub-text {
  margin: 0;
  font-size: 13px;
  font-weight: lighter;
  color: white;
  letter-spacing: 3px;
  line-height: 16px;
  position: relative; }
  .title-sub-text:before, .title-sub-text:after {
    content: '';
    width: 100px;
    height: 1px;
    position: absolute;
    bottom: 6px;
    opacity: 0.5;
    background: white; }
  .title-sub-text:before {
    left: -110px; }
  .title-sub-text:after {
    right: -110px; }

.insights--title {
  background-image: url(../img/insights-header-1.png);
  background-repeat: no-repeat;
  background-size: 1500px 500px; }

.about-container {
  background: #F4F5F6;
  width: 100%;
  margin-bottom: 65px; }

.about {
  width: 1040px;
  margin: 0 auto;
  padding: 60px 0; }

.about-header, .about-text {
  width: 680px;
  margin: 0 auto; }

.about-header {
  font-size: 11px;
  font-weight: normal;
  color: #C3C8CC;
  letter-spacing: 1.69px;
  line-height: 13px;
  text-transform: uppercase;
  margin-bottom: 15px; }

.about-text {
  background: #F4F5F6;
  color: #6C7379;
  line-height: 27px;
  font-size: 18px;
  font-weight: lighter; }

.insights--results-header {
  font-size: 14px;
  color: #393F44;
  line-height: 10px; }

.insights--results-filters {
  list-style-type: none; }

.insights--results-filters li {
  display: inline-block;
  margin-left: 10px; }

.insights--results-filters .button {
  background-color: #00A6DE;
  background-image: none;
  color: white;
  text-decoration: none;
  text-transform: uppercase; }

.story--breadcrumbs {
  font-size: 14px;
  color: #A9B0B6;
  line-height: 17px;
  margin: 0;
  padding: 0;
  list-style-type: none; }

.story--breadcrumbs li {
  display: inline-block; }

.story--breadcrumbs li:after {
  content: '›';
  margin-left: 5px; }

.story--breadcrumbs li:last-child:after {
  content: ''; }

.story--title {
  font-size: 48px;
  font-weight: lighter;
  color: #393F44;
  line-height: 52px; }

.story--metadata {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: lighter; }

.story--metadata-author img {
  float: left;
  margin-top: -5px;
  margin-right: 15px; }

.story--metadata-date {
  display: block;
  color: #A9B0B6; }

.story--metadata-stars {
  color: #A9B0B6; }

.story--author {
  text-align: center;
  font-weight: lighter;
  position: relative; }

.story--author-image {
  width: 60px;
  height: 60px;
  margin: 0 auto; }

.story--author-location {
  color: #A9B0B6; }

.story--intro-container {
  width: 100%;
  background-color: #F4F5F6;
  margin-top: 100px; }

.story--intro {
  width: 1040px;
  margin: 0 auto; }

.story--intro img {
  margin-top: -50px; }

.story--intro-text-container {
  padding: 20px 0;
  margin-bottom: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.story--intro-text {
  color: #6C7379;
  font-weight: lighter;
  width: 600px;
  margin: 0; }

.story--intro-button {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: lighter;
  width: auto; }

.story--wide-media-container {
  background-color: #F4F5F6; }

.story--wide-media-caption {
  width: 1040px;
  margin: 0 auto;
  padding: 10px 0;
  font-style: italic;
  font-weight: lighter;
  font-size: 16px;
  color: #6C7379; }

.story--content-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #6C7379;
  font-weight: lighter;
  margin-bottom: 65px; }

.story--content-container p:first-child {
  margin: 0; }

.story--content-left-cell {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 170px;
      -ms-flex: 0 0 170px;
          flex: 0 0 170px; }

.story--content-cell {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 500px;
      -ms-flex: 0 0 500px;
          flex: 0 0 500px; }

.story--content-right-cell {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 230px;
      -ms-flex: 0 0 230px;
          flex: 0 0 230px; }

.story--comments-container {
  width: 100%;
  background-color: #F4F5F6;
  padding: 65px 0; }

.story--comments {
  width: 1040px;
  margin: 0 auto; }

.story--comments-header {
  margin-bottom: 15px; }

.story--comment {
  background: #FFFFFF;
  border: 1px solid rgba(202, 203, 207, 0.54);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.09);
  padding: 60px 50px;
  color: #6C7379;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.story--comment-metadata {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 150px;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
  margin-right: 20px;
  text-align: right;
  font-weight: lighter; }

.story--comment-metadata-date {
  color: #A9B0B6; }

.story--comment-text p {
  margin: 0;
  margin-bottom: 10px; }
