.banner {
  position: relative;
  height: 280px;
}

.banner-image {
  width: 100%;
  float: left;
}

.banner-header {
  color: $banner--header-color;

  font-size: 38px;
  line-height: 42px;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
  text-align: center;

  width: 400px;
}

.banner-header,
a.button.banner-button {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

a.button.banner-button {
  width: 250px;
}

.banner-button {
  top: 175px;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.24);
}

@media screen and (max-width : 760px) {
  .banner {
    overflow: hidden;
  }

  .banner-image {
    width: auto;
    height: 100%;
  }

  .banner-header {
    width: 350px;
    top: 0;
  }

  .banner-button {
    top: 190px;
  }
}
