.button {
  background-image: linear-gradient(-180deg, #C32D7B 0%, #B6216E 100%);
  border-radius: 3px;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 1.07px;
  line-height: 17px;
  border: 0;
  display: inline-block;
}

.button-small {
  font-size: 12px;
  height: 30px;
  padding: 0 10px;
  line-height: 27px;
}

.button-large {
  width: 225px;
  height: 45px;
  padding: 14px 23px;
  font-size: 18px;
}
