input.button,
a.button {
  background-image: linear-gradient(-180deg, #C32D7B 0%, #B6216E 100%);
  border-radius: 3px;
  color: #FFFFFF;
  letter-spacing: 1.07px;
  line-height: 17px;
  border: 0;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.24);
  text-align: center;
}

a.button.button-small {
  font-size: 12px;
  height: 30px;
  padding: 0 10px;
  line-height: 27px;
}

a.button.button-large {
  width: auto;
  height: 45px;
  padding: 14px 23px;
  font-size: 13px;
}

a.button.button-blue {
  background-image: none;
  background: #00A6DE;
}

.button:hover {
  cursor: pointer;
}
