$pink: #C32D7B;
$light-blue: #3BB2D0;
$light-grey: #E3E4E6;
$lighter-grey: #f1f2f3;
$silver: #b9bfc4;
$grey: #393F44;
$dark-grey: #A9B0B6;
$mango: #fab72e;

// Base Links
$link-color: $light-blue;
$link-color-grey: #999BA1;

// Sections
$section--header-color: $pink;

// Banner
$banner--header-color: white;

// Header
$header--title-link-color: white;
$header--link-color: white;

// Footer
$footer--border-color: $light-grey;
$footer--link-color: $link-color-grey;
$footer--link-list-color: $link-color-grey;
$footer--link-hover-color: $link-color;

// Tables
$table--row-background-1: #F4F5F6;
$table--row-background-2: #FFFFFF;
$table--color: $grey;
$table--header-color: $dark-grey;
$table--header-border-color: $light-grey;
$table--stars-color: $dark-grey;
$table--download-color-1: #C32D7B;
$table--download-color-2: #65B60D;

// Cards
$card-bg-color: white;

// Cards, Insights
$insights--card-sub-title-color: #C3C8CC;
$insights--card-title-color: $grey;
$insights--card-border-color: rgba(#CACCD0, 0.54);
$insights--card-shadow-color: rgba(#000000, 0.15);
$insights--card-stars-color: $dark-grey;

// Cards, Dashboard
$dashboard--card-border-color: rgba(#CACCD0, .85);
$dashboard--card-shadow-color: rgba(#000000, 0.15);
$dashboard--card-relevant-1-background: linear-gradient(45deg, #C4256B 0%, #C90E39 100%);
$dashboard--card-relevant-2-background: linear-gradient(45deg, #3BB2D0 0%, #3DC3E5 100%);
$dashboard--card-relevant-title-color: #fff;

// Cards, Data
$data--card-sub-title-color: #6C7379;
$data--card-title-color: $link-color;
$data--card-border-color: rgba(#CACCD0, 0.54);
$data--card-shadow-color: rgba(#000000, 0.15);
$data--card-stars-color: $dark-grey;
$data--card-download-color-1: #C32D7B;
$data--card-download-color-2: #65B60D;

// Cards, Category
$category--card-title-color: $grey;

// Cards, App
$app--card-title-color: $grey;
$app--card-stars-color: $dark-grey;
$app--card-stars-active-color: $mango;

// ## Insights Page

// Title
$insights--title--color: white;
$insights--sub-title--color: white;
$insights--breadcrumbs-color: white;
$insights--intro-color: white;

$insights--stars-color: $dark-grey;
$insights--stars-active-color: $mango;

// About
$insights--about-background-color: #F4F5F6;
$insights--about-header-color: #C3C8CC;
$insights--about-background-color: #F4F5F6;
$insights--about-color: #6C7379;

// Filters
$insights--filters-color: #c3c8cc;
$insights--filters-active-color: #393f44 ;
$insights--filters-button-background-color: #e3e7ea;
$insights--filters-button-color: #c3c8cc;

// Story, Header
$story--breadcrumbs-color: $dark-grey;
$story--title-color: $grey;
$story--metadata-date-color: $dark-grey;
$story--metadata-stars-color: $dark-grey;
$story--metadata-stars-active-color: $mango;

// Story, Intro
$story--intro-color: #9aa2a9;

// Story, Content
$story--author-location-color: $dark-grey;
$story--media-caption-color: #6C7379;
$story--media-caption-pagination-color: #a9b0b6;
$story--media-caption-link-color: #3bb2d0;
$story--media-content-arrow-color: #3bb2d0;
$story--media-content-arrow-background: #f4f5f6;
$story--content-color: #6C7379;

// Story, Comment
$story--comment-text: #6C7379;

// Explore, Filters
$explore--filters-color: #c3c8cc;
$explore--filters-active-color: #393f44 ;
$explore--filters-button-background-color: #e3e7ea;
$explore--filters-button-color: #c3c8cc;
$explore--breadcrumbs-color: $dark-grey;

// Planet Pulse

// Title
$planet-pulse--title-color: white;
