// Base Links
$link-color: #3BB2D0;

// Cards
$card-bg-color: white;

// Cards, Insights
$insights--card-sub-title-color: #C3C8CC;
$insights--card-title-color: #393F44;

// Cards, Data
$data--card-sub-title-color: #6C7379;
$data--card-title-color: $link-color;
