.explore--content,
.explore--map {
  position: fixed;
  top: $page--header-height;
  bottom: 0;
}

$explore--content-width: 800px;

.explore--content {
  left: 0;

  width: $explore--content-width;
  padding: 20px 40px;

  overflow-y: scroll;
}

.explore--content-closed {
  display: none;
}

.explore--results-header {
  font-size: 14px;
  line-height: 10px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}

.explore--results-filters {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.explore--results-filters li {
  display: inline-block;
  margin-left: 10px;

  a {
    color: $explore--filters-color;
  }

  &.active a {
    color: $explore--filters-active-color;
  }
}

.explore--results-filters .button {
  background-color: $explore--filters-button-background-color;
  background-image: none;
  color: $explore--filters-button-color;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  font-weight: bolder;
  line-height: 30px;
}

.explore--content {
  .gridbox .cell.data {
    margin-right: 15px;
    margin-bottom: 5px;
  }

  .gridbox .cell.data:nth-child(3n+3) {
    margin-right: 0;
  }

  .gridbox .card.data {
    height: 360px;
    margin-bottom: 0;
  }

  .card.data .card-button {
    padding: 5px;

    .button {
      width: 100%;
      height: 38px;
      line-height: 10px;
    }
  }
}

.explore--map {
  left: $explore--content-width;
  right: 0;

  background: #000;
}

.explore--map-open {
  left: 0;
}

.explore--title {
  font-size: 48px;
  font-weight: lighter;
}
