.footer-container {
  width: 100%;
  padding: 10px 0;
  background-color: #f4f5f6;
}

.footer {
  width: $page--width;
  height: 100%;
  margin: 0 auto;

  font-weight: lighter;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  
  a, p {
    color: $footer--link-color;
    text-decoration: none;
    font-size: 14px;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  a {
    
    &:hover {
      color: $footer--link-hover-color;
    }
  }

  p {
    margin: 0;
  }
}



.footer-links {
  list-style-type: none;

  margin: 0;
  padding: 0;
  width: 500px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  position: relative;

  li {
    font-size: 15px;
    display: inline-block;
  }

  a {
    color: $footer--link-list-color;
    text-decoration: none;
  }

  a:hover {
    color: $footer--link-hover-color;
  }
}

@media screen and (max-width : 760px) {
  .footer-container {
    background: #F4F5F6;
    height: 300px;
  }

  .footer {
    width: 100%;
    height: auto;
    margin: 30px 20px;
    font-size: 17px;

    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .footer a:first-of-type {
    width: 50%;
    display: block;
  }

  .footer-links {
    width: 185px;
    display: block;
  }

  .footer-links li {
    display: block;
    margin-bottom: 15px;
    font-size: 17px;
  }

  .footer-link:last-of-type {
    display: none;
  }
}
