.gridbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.gridbox .cell {
  flex: 0 0 $card--large-width;
}

@media screen and (max-width: 750px) {
  .gridbox .cell {
    flex: 0 0 100%;
  }
}
