.gridbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.gridbox .cell {
  flex: 0 0 $card--large-width;

  &.data {
    flex: 0 0 $card--data--large-width;
  } 
}

.gridbox .cell {
  margin-right: 40px;
}

.gridbox .cell {

  &:nth-child(3n+3) {
    margin-right: 0;
  }

  &.data:nth-child(3n+3) {
    margin-right: 40px;
  }

  &.data:nth-child(4n+4) {
    margin-right: 0;
  }
}

@media screen and (max-width: $responsive-break--mobile) {
  .gridbox {
    flex-direction: column;
  }

  .gridbox .cell {
    flex-basis: initial !important;
    margin-right: 0 !important;
  }

  .gridbox .cell.data:nth-child(2n+1) {
    background-color: $lighter-grey;
  }
}
