.container {
  max-width: 50em;
  margin: 0 auto;
}

* { box-sizing: border-box; }

#gridbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#gridbox .cell {
  position: relative;
  margin: 0;
  margin: 2% 0;
  flex: 0 0 33%;
}

@media screen and (max-width: 750px) {
  #gridbox .cell {
    flex: 0 0 100%;
    margin-bottom: 7%;
  }
}
