.hero {
  width: 100%;
  height: 430px;

  padding: 30px;

  position: relative;

  background: url(../img/hero-1.png);
  background-repeat: no-repeat;
  background-size: cover;

  font-weight: lighter;
  color: white;
  -webkit-font-smoothing: subpixel-antialiased;

  a {
    color: white;
  }

  .hero-content {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
  }
}

.hero-sub-title {
  font-size: 13px;
  text-transform: uppercase;
}

.hero-title {
  font-size: 36px;
  width: 50%;
  margin-bottom: 40px;

  // position: absolute;
  // bottom: 100px;
}

.hero-info {
  position: relative;
  // bottom: 30px;
  // right: 30px;
  // left: 30px;
}

.hero-info-source,
.hero-info-stars {
  height: 40px;

  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;

  img {
    width: 38px;
    height: 38px;
    margin-right: 10px;
  }
}

.hero-info-stars {
  position: absolute;
  right: 0;
}

@media screen and (max-width : 760px) {
  .hero {
    background-size: auto 100%;
  }

  .hero-title {
    width: auto;
    position: relative;
    bottom: -120px;
  }
}
