.insights--hero {
  width: 100%;
  height: 500px;
  top: 0;
  padding-top: 50px;
  justify-content: center;
  background: url('../img/insights-header-1.png') no-repeat center center;

  .insights--breadcrumbs {
    font-size: 14px;
    color: $insights--breadcrumbs-color;
    line-height: 17px;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      display: inline-block;

      &:after {
        content: '›';
        margin-left: 5px;
      }

      &:last-child:after {
        content: '';
      }
    }
  }

  h2 {
    margin: 0;
    font-size: 62px;
    color: $insights--title--color;
    line-height: 82px;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.26);
    text-align: center;
    position: relative;
    margin-bottom: 85px;

    &:after {
      content: '';
      position: relative;
      top: 40px;
      width: 100px;
      height: 0;
      border-bottom: 2px solid white;
      display: block;
      margin: 0 auto;
    }
  }

  .insights--subtitle {
    margin: 60px 0 10px 0;
    font-size: 13px;
    color: $insights--sub-title--color;
    letter-spacing: 3px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  .insights--intro {
    font-style: italic;
    font-size: 19px;
    line-height: 32px;
    color: $insights--intro-color;
    font-weight: 200;
    -webkit-font-smoothing: subpixel-antialiased;
    width: 830px;
    margin: 0 auto;
    text-align: center;
  }
}

.insights--star {
  display: flex;
  justify-content: flex-end;
  margin: 30px 0 40px 0;
  color: $insights--stars-color;
  text-align: right;
  font-size: 15px;

  &.active {
    color: $insights--stars-active-color;
  }
}

.insights--title {
  background: url('../img/insights-header-1.png') no-repeat center center;
}

.insights--results-header {
  font-size: 14px;
  line-height: 10px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}

.insights--results-filters {
  list-style-type: none;
}

.insights--results-filters {
  margin: 0;
  padding: 0;
}

.insights--results-filters li {
  display: inline-block;
  margin-left: 10px;

  a {
    color: $insights--filters-color;
  }

  &.active a {
    color: $insights--filters-active-color;
  }
}

.insights--results-filters .button {
  background-color: $insights--filters-button-background-color;
  background-image: none;
  color: $insights--filters-button-color;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  font-weight: bolder;
  line-height: 30px;
}

.insights--slideshow-container {
  position: relative;
  height: 1040px;

  .slick-list,
  .slick-track {
    height: 100% !important;
  }

  .insights--slideshow-content {
    height: 100%;

    &.slide-1 {
      background: url('../img/insight-slides-1.jpg') no-repeat;
      background-size: cover;
    }

    &.slide-2 {
      background: url('../img/insight-slides-2.jpg') no-repeat;
      background-size: cover;
    }

    &.slide-3 {
      background-color: #1a3a4c;
    }


    &.slide-4 {
      background: url('../img/insight-slides-4.jpg') no-repeat;
      background-size: cover;
    }

    .container {
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      height: 100%;
      position: static;
    }

    .black-overlay {
      width: calc(50% + 70px);
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 1;
    }

    .left-half,
    .right-half{
      flex-basis: 50%;
      z-index: 2;
    }

    .two-half {
      flex-basis: 100%;
      z-index: 2;
    }

    .story--breadcrumbs,
    .story--metadata,
    .story--metadata a,
    .story--metadata span,
    .story--metadata-date,
    .story--metadata-stars,
    .story--title,
    .story--pre-title,
    .story--intro-text,
    blockquote,
    .controls {
      color: #fff;
    }

    .story--metadata,
    .story--pre-title {
      margin-top: 80px;
    }

    .story--metadata-stars {
      -webkit-font-smoothing: subpixel-antialiased;
    }

    .story--intro-text {
      width: auto;
      text-align: left;
      font-style: normal;
      font-size: 18px;
      line-height: 1.6em;
    }

    .story--pre-title {
      margin-top: 80px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      font-size: 19px;
    }

    blockquote {
      text-transform: uppercase;
      padding: 20px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      background-color: rgba(255, 255, 255, 0.05);
      width: 100%;
      margin: 0;
      margin-top: 45px;
      padding-right: 100px;
      position: relative;
      font-size: 13px;
      -webkit-font-smoothing: subpixel-antialiased;
      line-height: 1.5em;

      &:before,
      &:after {
        color: white;
        font-size: 60px;
        font-weight: bold;
        font-family : 'Georgia', serif;
        position: absolute;
        display: block;
        line-height: normal;
      }

      &:before {
        content: '“';
        right: 55px;
        top: calc(50% - 28px);
      }

      &:after {
        content: '”';
        right: 20px;
        bottom: calc(50% - 30px - 23px);
      }
    }

    .button {
      position: absolute;
      top: 40px;
      right: 40px;
    }

    .controls {
      margin: 50px 0 100px 0;
      padding-bottom: 2px;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-self: flex-end;

      .left-control,
      .right-control {
        position: relative;
        display: inline-block;
        height: 70px;
        text-transform: uppercase;
        color: white;
        font-weight: bolder;
        font-size: 17px;
        line-height: 70px;
        cursor: pointer;

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          width: 70px;
          height: 70px;
        }

        &.is-hidden {
          display: none;
        }
      }

      .right-control {

        span {
          padding: 0 45px;
          margin-right: 70px;
          display: inline-block;
          border: 1px solid white;
          height: 70px;
        }

        &:before {
          position: absolute;
          right: 0;
          background-color: white;
        }

        &:after {
          @include arrow(16px, #3bb2d0, 2px, 135deg);
          content: '';
          display: block;
          position: absolute;
          right: 30px;
          top: calc(50% - 8px);
        }
      }

      .left-control {

        &:before {
          left: 0;
          border: 1px solid white;
        }

        &:after {
          @include arrow(16px, white, 2px, -45deg);
          content: '';
          display: block;
          position: absolute;
          left: 30px;
          top: calc(50% - 8px);
        }
      }
    }

  }

//  .insights--slideshow-content {
//    padding-right: 70px;
//    overflow: hidden;

//
//    .slick-list {
//      overflow: visible !important; /* For the title with the 1. */
//    }
//
//    .story--metadata {
//      margin-bottom: 64px;
//    }
//
//    .story--metadata-stars {
//      -webkit-font-smoothing: subpixel-antialiased;
//    }
//
//    .story--title {
//      margin-bottom: 34px;
//      position: relative;
//      font-weight: 48px;
//
//      &.number-one:before {
//        content: '1.';
//        display: block;
//        position: absolute;
//        left: -50px;
//        color: #c32d7b;
//      }
//    }
//
//
//    blockquote {
//      text-transform: uppercase;
//      padding: 20px;
//      border: 1px solid rgba(255, 255, 255, 0.3);
//      background-color: rgba(255, 255, 255, 0.05);
//      width: 100%;
//      margin: 0;
//      margin-top: 45px;
//      padding-right: 100px;
//      position: relative;
//      font-size: 13px;
//      -webkit-font-smoothing: subpixel-antialiased;
//
//      &:before,
//      &:after {
//        color: white;
//        font-size: 60px;
//        font-weight: bold;
//        font-family : 'Georgia', serif;
//        position: absolute;
//        display: block;
//      }
//
//      &:before {
//        content: '“';
//        right: 55px;
//        top: calc(50% - 28px);
//      }
//
//      &:after {
//        content: '”';
//        right: 20px;
//        bottom: calc(50% - 30px - 23px);
//      }
//    }
//
//    .controls {
//      margin-top: 100px;
//      padding-bottom: 2px; /* Otherwise the back button is cut */
//      overflow: hidden;
//
//      .left-control,
//      .right-control {
//        position: relative;
//        display: inline-block;
//        height: 70px;
//        text-transform: uppercase;
//        color: white;
//        font-weight: bolder;
//        font-size: 17px;
//        line-height: 70px;
//        cursor: pointer;
//
//        &:before {
//          content: '';
//          display: block;
//          position: absolute;
//          top: 0;
//          width: 70px;
//          height: 70px;
//          border-radius: 100%;
//        }
//
//        &.is-hidden {
//          display: none;
//        }
//      }
//
//      .right-control {
//        padding-right: 83px;
//        float: right;
//
//        &:before {
//          right: 0;
//          background-color: white;
//        }
//
//        &:after {
//          @include arrow(16px, #555, 1px, 135deg);
//          content: '';
//          display: block;
//          position: absolute;
//          right: 30px;
//          top: calc(50% - 8px);
//        }
//      }
//
//      .left-control {
//        padding-left: 83px;
//        float: left;
//
//        &:before {
//          left: 0;
//          border: 1px solid white;
//        }
//
//        &:after {
//          @include arrow(16px, white, 1px, -45deg);
//          content: '';
//          display: block;
//          position: absolute;
//          left: 30px;
//          top: calc(50% - 8px);
//        }
//      }
//    }
//  }

}

.insights--featured {
  width: 100%;
  height: 430px;

  padding: 30px;
  margin-bottom: 20px;

  position: relative;

  background: url(../img/hero-1.png), radial-gradient(0% 91%, #1F2632 0%, rgba(31,37,50,0.47) 71%);
  background-repeat: no-repeat;
  background-size: cover;

  color: white;

  a {
    color: white;
    text-decoration: none;
  }
}

.insights--featured-sub-title {
  font-size: 13px;
  text-transform: uppercase;
}

.insights--featured-title {
  font-size: 34px;
  width: 550px;

  position: absolute;
  bottom: 100px;
}

.insights--featured-info {
  position: absolute;
  bottom: 30px;
  right: 30px;
  left: 30px;
}

.insights--featured-info-source,
.insights--featured-info-stars {
  height: 40px;

  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;

  img {
    width: 38px;
    height: 38px;
    margin-right: 10px;
    border-radius: 100%;
  }
}

.insights--featured-info-stars {
  position: absolute;
  right: 0;
}

.insights--search-container {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.insights--search-input {
  flex-basis: 100%;

  padding-left: 15px;
  margin-right: 15px;

  height: 45px;

  font-size: 20px;
  font-weight: lighter;

  border: 1px solid rgb(185, 191, 196);
  border-radius: 3px;
  box-shadow: rgba(185, 191, 196, 0.247059) 0px 1px 2px 0px inset;
  box-sizing: border-box;
  color: rgb(31, 38, 50);
}

.insights--search-submit {
  flex-basis: 220px;
  text-align: center;
}

.insights--discover-title {
  margin: 70px 0 20px 0;
  align-items: flex-end;

  h3 {
    font-size: 48px;
    color: #393f44;
    margin-bottom: 40px;
  }
}
