.insights--hero {
  width: 100%;
  height: 500px;
  top: 0;
  padding-top: 50px;
  justify-content: center;
  background: url('../img/insights-header-1.png') no-repeat center center;

  .insights--breadcrumbs {
    font-size: 14px;
    color: $insights--breadcrumbs-color;
    line-height: 17px;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      display: inline-block;

      &:after {
        content: '›';
        margin-left: 5px;
      }

      &:last-child:after {
        content: '';
      }
    }
  }

  h2 {
    margin: 0;
    font-size: 62px;
    color: $insights--title--color;
    line-height: 82px;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.26);
    text-align: center;
    position: relative;
    margin-bottom: 85px;

    &:after {
      content: '';
      position: relative;
      top: 40px;
      width: 100px;
      height: 0;
      border-bottom: 2px solid white;
      display: block;
      margin: 0 auto;
    }
  }

  .insights--subtitle {
    margin: 60px 0 10px 0;
    font-size: 13px;
    color: $insights--sub-title--color;
    letter-spacing: 3px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  .insights--intro {
    font-style: italic;
    font-size: 19px;
    line-height: 32px;
    color: $insights--intro-color;
    font-weight: 200;
    -webkit-font-smoothing: subpixel-antialiased;
    width: 800px;
    margin: 0 auto;
    text-align: center;
  }
}

.insights--star {
  display: flex;
  justify-content: flex-end;
  margin: 30px 0 40px 0;
  color: $insights--stars-color;
  text-align: right;
  font-size: 15px;

  &.active {
    color: $insights--stars-active-color;
  }
}

.insights--title {
  background: url('../img/insights-header-1.png') no-repeat center center;
}

.insights--results-header {
  font-size: 14px;
  line-height: 10px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}

.insights--results-filters {
  list-style-type: none;
}

.insights--results-filters {
  margin: 0;
  padding: 0;
}

.insights--results-filters li {
  display: inline-block;
  margin-left: 10px;

  a {
    color: $insights--filters-color;
  }

  &.active a {
    color: $insights--filters-active-color;
  }
}

.insights--results-filters .button {
  background-color: $insights--filters-button-background-color;
  background-image: none;
  color: $insights--filters-button-color;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  font-weight: bolder;
  line-height: 30px;
}
