.m-partners {
	border: 1px solid #e3e4e6;
	border-left: 0;
	border-right: 0;
	margin-bottom: 35px;
	margin-top: 150px;

	.partners-title {
		position: relative;
		text-transform: uppercase;
		text-align: center;
		color: #b9bfc4;
		font-size: 12px;
        font-weight: bold;
		background-color: #fff;
		width: 100px;
		margin: 0 auto;
		transform: translatey(-50%);
	}

	ul {
		padding: 0 150px;
		display: flex;
		justify-content: space-between;
        align-items: center;
	}

	li {
		list-style: none;
		float: left;
		margin-right: 60px;
	}

  @media screen and (max-width: $responsive-break--mobile) {

    margin-top: 40px;

    ul {
      flex-wrap: wrap;
      padding: 0;
      justify-content: space-around;
    }

    li {
      flex-basis: 40%;
      margin-right: 0;
      display: flex;
      justify-content: space-around;
    }

  }

}
