.m-site-map {
	.site-sections {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0;
	}

	a {
		display: block;
		text-decoration: none;
		margin-bottom: 5px;
	}

	.site-section {
		a {

		}

		> a {
			color: #000;
			font-size: 15px;
		}

		ul {
			padding: 0;
          margin-top: 8px;

			a {
				color: #999ba1;
				font-size: 14px;
			}
		}
	}

	li {
		list-style: none;
	}

  @media screen and (max-width: $responsive-break--mobile) {

    .site-sections {
      flex-wrap: wrap;
    }

    .site-sections li {
      flex-basis: 50%;
      margin-left: 50%;

      &:first-of-type {
        position: absolute;
        margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
      }
    }

    .site-section ul {
      @include is-hidden;
    }

  }

}
