// Grid
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;

// Cards
$card-padding: 20px;

// Cards, Insights
$insights--card-title-margin: 0;
$insights--card-sub-title-margin: 0px 0px 5px;
$insights--card-border-color: rgba(#CACCD0, 0.54);
$insights--card-shadow-color: rgba(#000000, 0.20);
$insights--card-stars-color: #A9B0B6;

// Cards, Data
$data--card-title-margin: 0;
$data--card-sub-title-margin: 5px 0px 0px;
$data--card-border-color: rgba(#CACCD0, 0.54);
$data--card-shadow-color: rgba(#000000, 0.20);
$data--card-stars-color: #A9B0B6;
$data--card-download-color-1: #C32D7B;
$data--card-download-color-2: #65B60D;
