* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.container {
  width: 1040px;
  margin: 0 auto;
}

@import
  "settings",
  "colors",

  "layout",

  "grid",

  "cards",
  "cards_insight",
  "cards_data",
  "cards_category",
  "cards_app";

a,
a:visited {
  color: $link-color;
}
