<div class="insights--interactive-intro-2-title">It’s your turn</div>
<div class="insights--interactive-intro-2-subtitle">If a similar event happened to you, would you be able to be able to do anything about it? The outcome of such events often depends on the <b>strength of national laws</b>.</div>
<div class="insights--interactive-input">
  <form>
    <select class="js-search-country">
      <option value="" disabled="" selected="">Where do you live?</option>
    </select>
    <input type="submit" value="Let’s go!" class="button js-next"/>
  </form>
</div>
<ul class="insights--interactive-footer">
  <li><a href="http://environmentaldemocracyindex.org">Read about EDI</a></li>
</ul>
