section.m-partners
  .container
    p.partners-title
      a(href='partners.html') Partners
      span.line
    ul#footerCarousel
      li
        a(href='#')
          img(src='img/logo-4-cartodb.png', alt='')
      li
        a(href='#')
          img(src='img/logo-9-danida.png', alt='')
      li
        a(href='#')
          img(src='img/logo-8-descarteslabs.png', alt='')
      li
        a(href='#')
          img(src='img/logo-5-digitalglobe.png', alt='')
      li
        a(href='#')
          img(src='img/logo-6-earthgenome.png', alt='')
      li
        a(href='#')
          img(src='img/logo-10-espa.png', alt='')
      li
        a(href='#')
          img(src='img/logo-11-esri.png', alt='')
      li
        a(href='#')
          img(src='img/logo-12-globalpartnership.png', alt='')
      li
        a(href='#')
          img(src='img/logo-3-google.png', alt='')
      li
        a(href='#')
          img(src='img/logo-13-netherlands.png', alt='')
      li
        a(href='#')
          img(src='img/logo-14-nerc.png', alt='')
      li
        a(href='#')
          img(src='img/logo-15-researchintoresults.png', alt='')
      li
        a(href='#')
          img(src='img/logo-16-sida.png', alt='')
      li
        a(href='#')
          img(src='img/logo-17-tilia.png', alt='')
      li
        a(href='#')
          img(src='img/logo-7-umd.png', alt='')
      li
        a(href='#')
          img(src='img/logo-18-undp.png', alt='')
      li
        a(href='#')
          img(src='img/logo-19-uniedim.png', alt='')
      li
        a(href='partners-vizzuality.html')
          img(src='img/logo-2.png', alt='')
      li
        a(href='partners-wri.html')
          img(src='img/logo-1.png', alt='')


section.m-site-map
  .container
    ul.site-sections
      li.site-section
        a(href='index.html')
          img(src='img/rw-symbol-grey.svg')
      li.site-section
        a(href='insights.html') Insights
        ul
          li
            a Popular insights
          li
            a Collections
          li
            a Create an insight
      li.site-section
        a(href='explore.html') Explore
        ul
          li
            a Data map
          li
            a Datasets
      li.site-section
        a Apps
        ul
          li
            a Popular apps
          li
            a iOS apps
          li
            a Android apps
          li
            a Web apps
      li.site-section
        a Get involved
        ul
          li
            a Create insights
          li
            a Share data
          li
            a Develop an app
          li
            a Help improve the data
          li
            a(href='partners.html') Partners
      li.site-section
        a Help
        ul
          li
            a Site tour
          li
            a Help center
          li
            a FAQ's
      li.site-section
        a More
        ul
          li
            a(href='dashboard.html') Dashboard
          li
            a(href='planet-pulse.html') Planet Pulse
          li
            a About us
          li
            a Team
          li
            a Contact
// footer
.footer-container
  footer.footer
    a Terms of Service – Privacy
    p © 2015 - Resource Watch
