<section class="m-partners">
  <div class="container">
    <p class="partners-title">partners
      <span class="line"></span>
    </p>
    <ul>
      <li>
        <a href="#">
          <img src="img/logo-1.png" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="img/logo-2.png" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="img/logo-3.png" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="img/logo-4.png" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="img/logo-5.png" alt="">
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="m-site-map">
  <div class="container">
    <ul class="site-sections">
      <li class="site-section">
        <a href="index.html"><img src="img/rw-symbol-grey.svg"/></a>
      </li>
      <li class="site-section">
        <a href="insights.html">Insights</a>
        <ul>
          <li><a href="#">Popular insights</a></li>
          <li><a href="#">Collections</a></li>
          <li><a href="#">Create an insight</a></li>
        </ul>
      </li>
      <li class="site-section">
        <a href="#">Explore</a>
        <ul>
          <li><a href="#">Data map</a></li>
          <li><a href="#">Datasets</a></li>
        </ul>
      </li>
      <li class="site-section">
        <a href="#">Apps</a>
        <ul>
          <li><a href="#">Popular apps</a></li>
          <li><a href="#">iOS apps</a></li>
          <li><a href="#">Android apps</a></li>
          <li><a href="#">PWeb apps</a></li>
        </ul>
      </li>
      <li class="site-section">
        <a href="">Get involved</a>
        <ul>
          <li><a href="#">Create insights</a></li>
          <li><a href="#">Share data</a></li>
          <li><a href="#">Develop an app</a></li>
          <li><a href="#">Help improve the data</a></li>
          <li><a href="#">Become a partner</a></li>
        </ul>
      </li>
      <li class="site-section">
        <a href="#">Help</a>
        <ul>
          <li><a href="#">Site tour</a></li>
          <li><a href="#">Help center</a></li>
          <li><a href="#">FAQ's</a></li>
        </ul>
      </li>
      <li class="site-section">
        <a href="#">More</a>
        <ul>
          <li><a href="dashboard.html">Country dashboard</a></li>
          <li><a href="#">Planet pulse</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </li>
    </ul>
  </div>
</section>

<!-- footer -->
<div class="footer-container">
  <footer class="footer">
    <a href="#">Terms of Service – Privacy</a>
    <p>© 2015 - World Resources Watch</p>
  </footer>
</div>
