section.m-partners
  .container
    p.partners-title
      | partners
      span.line
    ul
      li
        a(href='#')
          img(src='img/logo-1.png', alt='')
      li
        a(href='#')
          img(src='img/logo-2.png', alt='')
      li
        a(href='#')
          img(src='img/logo-3-google.png', alt='')
      li
        a(href='#')
          img(src='img/logo-4-cartodb.png', alt='')
      li
        a(href='#')
          img(src='img/logo-5-digitalglobe.png', alt='')
      li
        a(href='#')
          img(src='img/logo-6-earthgenome.png', alt='')
      li
        a(href='#')
          img(src='img/logo-7-umd.png', alt='')

section.m-site-map
  .container
    ul.site-sections
      li.site-section
        a(href='index.html')
          img(src='img/rw-symbol-grey.svg')
      li.site-section
        a(href='insights.html') Insights
        ul
          li
            a(href='#') Popular insights
          li
            a(href='') Collections
          li
            a(href='#') Create an insight
      li.site-section
        a(href='explore.html') Explore
        ul
          li
            a(href='#') Data map
          li
            a(href='#') Datasets
      li.site-section
        a(href='#') Apps
        ul
          li
            a(href='#') Popular apps
          li
            a(href='#') iOS apps
          li
            a(href='#') Android apps
          li
            a(href='#') Web apps
      li.site-section
        a(href='') Get involved
        ul
          li
            a(href='#') Create insights
          li
            a(href='#') Share data
          li
            a(href='#') Develop an app
          li
            a(href='#') Help improve the data
          li
            a(href='#') Become a partner
      li.site-section
        a(href='#') Help
        ul
          li
            a(href='#') Site tour
          li
            a(href='#') Help center
          li
            a(href='#') FAQ's
      li.site-section
        a(href='#') More
        ul
          li
            a(href='dashboard.html') Country dashboard
          li
            a(href='planet-pulse.html') Planet pulse
          li
            a(href='#') About us
          li
            a(href='#') Team
          li
            a(href='#') Contact
// footer
.footer-container
  footer.footer
    a(href='#') Terms of Service – Privacy
    p © 2015 - World Resources Watch
