div(style="display:none; visibility: hidden; opacity: 0;")
  article#umd
    h2 Tree cover loss
    p This dataset uses satellite imagery to measure the area of tree cover loss annually since the year 2000, as well as measuring total tree cover in the year 2000, and average annual tree cover gain since 2000.   

  article#forma
    h2 Forma
    p This dataset provides alerts twice every month of areas where tree cover loss is likely to have occurred. These alerts are generated through analysis of satellite images for the world’s humid tropical forests.

  article#protected-areas
    h2 Protected Areas
    p This dataset shows the location of terrestrial and marine protected areas around the world.

  article#fires
    h2 Fires
    p NASA's Fire Information for Resource Management System (FIRMS) data delivers near real-time, MODIS-derived hotspots and fire locations for the past seven days.



  article#forecasts
    h2 Forecast (Temperature)
    p Morbi sodales purus ac nulla placerat, at facilisis risus tincidunt. Curabitur est nisi, ullamcorper non aliquam in, luctus eget massa. Duis sed tristique ante. Sed eget ullamcorper lectus. Nam sodales metus vel malesuada iaculis. Vestibulum ultrices, elit eget blandit sagittis, nunc orci tincidunt ipsum, at tincidunt augue risus quis sapien. Aliquam erat volutpat. Cras sagittis sed urna sed aliquet.

  article#grace
    h2 Fires
    p This dataset estimates the average annual change in groundwater since 2002.



  article#population
    h2 Population and GDP
    p Morbi sodales purus ac nulla placerat, at facilisis risus tincidunt. Curabitur est nisi, ullamcorper non aliquam in, luctus eget massa. Duis sed tristique ante. Sed eget ullamcorper lectus. Nam sodales metus vel malesuada iaculis. Vestibulum ultrices, elit eget blandit sagittis, nunc orci tincidunt ipsum, at tincidunt augue risus quis sapien. Aliquam erat volutpat. Cras sagittis sed urna sed aliquet.



  article#conflict-events
    h2 Conflict events
    p This dataset shows potential conflict events derived from print, broadcast, and web news media in over 100 languages from across every country in the world

  article#protest
    h2 Protest
    p This dataset shows potential protest events derived from print, broadcast, and web news media in over 100 languages from across every country in the world

  article#epidemics
    h2 Epidemics
    p This dataset shows potential epidemics derived from print, broadcast, and web news media in over 100 languages from across every country in the world
