<div class="gridbox">
  <div class="cell">
    <div class="card insight">
      <div class="card-image">
        <a href="story.html">
          <img src="img/insight-1-th.jpg">  
        </a>
        
      </div>

      <div class="card-content">
        <h6 class="card-sub-title">Story</h6>
        <h5 class="card-title"><a href="story.html">See how climate change will increase chance of people being affected by floods</a></h5>
      </div>

      <ul class="card-info">
        <li class="card-info-source">
          <img src="img/avatar-wwf.png">
          <span>by <a href="#">WWF</a></span>
        </li>
        <li class="card-info-stars">
          <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
          <span>6,574</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="cell">
    <div class="card insight">
      <div class="card-image">
        <a href="map.html">
          <img src="img/insight-2-th.jpg">
        </a>
      </div>

      <div class="card-content">
        <h6 class="card-sub-title">Map</h6>
        <h5 class="card-title"><a href="map.html">Deforestation and land use change drives about 80% of Indonesia’s greenhouse gas emissions</a></h5>
      </div>

      <ul class="card-info">
        <li class="card-info-source">
          <img src="img/avatar-greenpeace.png">
          <span>by <a href="#">Greenpeace</a></span>
        </li>
        <li class="card-info-stars">
          <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
          <span>6,574</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="cell">
    <div class="card insight">
      <div class="card-image">
        <a href="story.html">
          <img src="img/insight-3-th.jpg">
        </a>
      </div>

      <div class="card-content">
        <h6 class="card-sub-title">Story</h6>
        <h5 class="card-title"><a href="story.html">Satellites empower journalists and civil society to investigate illegal logging</a></h5>
      </div>

      <ul class="card-info">
        <li class="card-info-source">
          <img src="img/avatar-wri.png">
          <span>by <a href="#">World resources institute</a></span>
        </li>
        <li class="card-info-stars active">
          <svg class="icon icon-star--active"><use xlink:href="#icon-star"></use></svg>
          <span>6,574</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="cell">
    <div class="card insight">
      <div class="card-image">
        <a href="slideshow.html">
          <img src="img/insight-4-th.jpg">
        </a>
      </div>

      <div class="card-content">
        <h6 class="card-sub-title">Slideshow</h6>
        <h5 class="card-title"><a href="slideshow.html">Which countries food growing areas will be affected most by climate change?</a></h5>
      </div>

      <ul class="card-info">
        <li class="card-info-source">
          <img src="img/avatar-0.jpg">
          <span>by <a href="#">Sajjad Malik</a></span>
        </li>
        <li class="card-info-stars active">
          <svg class="icon icon-star--active"><use xlink:href="#icon-star"></use></svg>
          <span>6,574</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="cell">
    <div class="card insight">
      <div class="card-image">
        <a href="story.html">
          <img src="img/insight-5-th.jpg">
        </a>
      </div>

      <div class="card-content">
        <h6 class="card-sub-title">Story</h6>
        <h5 class="card-title"><a href="story.html">Deforestation of intact forests is predictable</a></h5>
      </div>

      <ul class="card-info">
        <li class="card-info-source">
          <img src="img/avatar-1.jpg">
          <span>by <a href="#">Marion Johnson</a></span>
        </li>
        <li class="card-info-stars">
          <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
          <span>6,574</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="cell">
    <div class="card insight">
      <div class="card-image">
        <a href="slideshow.html">
          <img src="img/insight-6-th.jpg">
        </a>
      </div>

      <div class="card-content">
        <h6 class="card-sub-title">Slideshow</h6>
        <h5 class="card-title"><a href="slideshow.html">If an environmental issue happened where you are, would you be able to do anything about it?</a></h5>
      </div>

      <ul class="card-info">
        <li class="card-info-source">
          <img src="img/avatar-wwf.png">
          <span>by <a href="#">WWF</a></span>
        </li>
        <li class="card-info-stars">
          <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
          <span>6,574</span>
        </li>
      </ul>
    </div>
  </div>
</div>
