.app-info--details {
  width: 610px;

  font-size: 18px;
  line-height: 28px;
  color: $insights--intro-color;
  font-weight: $font--light;
  -webkit-font-smoothing: subpixel-antialiased;

  text-align: left;
}
