.app-info--container-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  .app-info--title {
    font-size: 48px;
    font-weight: $font--light;
    color: $story--title-color;
    line-height: 52px;
    text-align: left;
    margin-bottom: 12px;
  }
}

.app-info--details {
  width: 610px;
  margin-top: 0;
  color: $story--content-color;
  font-size: 18px;
  line-height: 28px;
  -webkit-font-smoothing: subpixel-antialiased;
  text-align: left;

}

p.app-info--description {
  margin-top: 0;
  color: $story--content-color;
}


.app-info--container-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 50px;

  .app-info--description {
    width: 610px;
    font-size: 18px;
    line-height: 28px;
    -webkit-font-smoothing: subpixel-antialiased;
    text-align: left;
  }

  .app-info--description-buttons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a.button {
      min-width: 260px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}

.app-info--container-pictures {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  img.app-info--image {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

