.card.app {
  width: $card--large-width;
  height: 210px;

  a.is-link {
    cursor: default;
    transition: filter 0.2s, opacity 0.2s;
  }

  &:hover {
    a.is-link {
      filter: grayscale(100%);
      opacity: 0.4;
    }
  }

  .card-image {
    height: 180px;

    img {
      width: 320px;
      height: 180px;
    }
  }

  .card-caption,
  .card-info-stars {
    display: inline-block;
    cursor: pointer;
  }

  .card-caption a {
    height: 30px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: $font--bold;
    color: $app--card-title-color;
    text-decoration: none;


  }

  .card-info-stars {
    color: $app--card-stars-color;
    text-align: right;
    font-size: 15px;

    .icon-star {
      height: 15px;
      margin-bottom: 2px; /* For vertical alignment with the span */
    }

    &.active {
      span {
        color: $app--card-stars-active-color;
      }

      .icon-star {
        fill: $app--card-stars-active-color;
      }
    }
  }
}

.card-caption-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

@media screen and (max-width : $responsive-break--tablet) {
  .card.app {
    width: 100%;
    height: auto;

    .card-image {
      overflow: hidden;
    }

    .card-image img {
      width: 100%;
      height: auto;
    }

    .card-caption {
      flex-basis: 70%;
      margin-top: 0;
      height: auto;
    }

    .card-caption-container {
      padding-top: 10px;
    }
  }
}
