.l-header {
  .is-logged & {
    display: none;
  }

  .is-public & {
    display: flex;
  }

  #altLogo {
    width: 301px;
    height: 52px;
  }

  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background: #fff;
  padding: 15px 0;
  z-index: 5;
  transition: all .5s ease;
  box-shadow: 0 0 10px rgba(0,0,0, .2);

  .l-header-container {
    max-width: 1040px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .icon-logo {
    height: 52px;
  }
}

.header-container {

  .is-public & {
    display: none;
  }

  position: relative;
  width: 100%;
  height: $page--header-height;
  margin-bottom: 0;

  background: #C32D7B;
  background-image: url(../img/header-bg-texture@2x.png), linear-gradient(90deg, #C32D7B 0%, #C90E39 100%);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 140%;

  z-index: $z-index-10;

  &.is-fixed {
    position: fixed;
    z-index: $z-index-10;

    & + div {
      padding-top: 114px;
    }
  }
}

.insights--header-container {
  opacity: 0.73;
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.84) 0%,
  rgba(0,0,0,0.42) 85%);
}

.header {
  position: relative;
  height: 100%;
  margin: 0 auto;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.upper-header {
  padding: 10px 0;
  width: 100%;
  background-color: rgba(0,0,0,.1);
}

.language-selector {
  position: relative;
  padding-right: 20px;
  font-weight: $font--light;
  -webkit-font-smoothing: subpixel-antialiased;

  &:after {
    content: "";
    position: absolute;
    bottom: 25%;
    right: 3px;
    @include arrow (7px, #fff, 1px, 225deg);
  }

  ul {
    margin: 0;
    list-style: none;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
  }
}

.upper-header-container {
  width: $page--width;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.down-header {
  width: $page--width;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.header-title-link {
  color: $header--title-link-color;
  text-decoration: none;
}

.header-title {
  margin: 0;
  padding-left: 72px;
  height: 52px;
  width: 363px;

  font-size: 19px;
  line-height: 50px;
  text-transform: uppercase;

  background: url(../img/rw-logo.svg) no-repeat;
  background-size: contain;
}

.header-links {
  list-style-type: none;
  width: 500px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.header-links li {
  display: block;
  position: relative;

  &.active:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    bottom: -5px;
    background-color: #fff;
  }
}

.header-links a {
  color: $header--link-color;
  font-weight: $font--light;
  text-decoration: none;
  -webkit-font-smoothing: subpixel-antialiased;
}

.header-links .notification {
  position: relative;
  display: block;

  &:after {
    content: '2';
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: $light-blue;
    display: block;
    position: absolute;
    top: -3px;
    right: -3px;
    color: $header--link-color;
    font-size: .7em;
    font-weight: $font--bold;
    line-height: 20px;
    text-align: center;
  }
}

.header-menu-label {
  display: none;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.92px;
  line-height: 15px;
  padding: 10px 20px;
  text-transform: uppercase;
  background: rgba(0,0,0,0);
}

.sub-header-container {
  padding: 10px 0;
  background-color: #43B9D6;
  border-top: 1px solid rgba(255, 255, 255, 0.22);
  font-size: 11px;
  color: #fff;
  width: 100%;
  position: relative;

  &.is-fixed {
    position: fixed;
    z-index: $z-index-10;
    top: 0;
    left: 0;
  }

  .header-mobile & {
    @include is-hidden;
  }

  label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-index-10;
    cursor: pointer;
  }

  div {
    padding: 0 20px;

    &.align-right {
      text-align: right;
    }
  }
}

@media screen and (max-width : $responsive-break--tablet){
  .header-container {
    height: auto;
    margin-bottom: 0;
    background-image: url(../img/header-bg-mobile.png), linear-gradient(90deg, #C32D7B 0%, #C90E39 100%);
    background-size: cover;
  }

  .header {
    width: 100%;
  }

  .header-title-link {
    flex-basis: calc(100% - 90px);
    padding-right: 20px;
  }

  .header-title {
    font-size: 14px;
    padding-left: 0;
    width: 100%;
    background-position: center left;
    max-width: 300px;
  }

  .header-links {
    display: none;
  }

  .header-menu-label {
    display: inline-block;
  }

  .upper-header {
    @include is-hidden;
  }

  .down-header {
    width: 100%;
    height: 80px;
    padding: 0 20px;
  }

  .header-mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    height: auto;
    margin: 0;
    z-index: $z-index-10;

    .header {
      height: $responsive-page--header-height;
      border-bottom: 1px solid rgba(#fff, 0.22);
    }

    .header-links {
      display: block;
      position: absolute;
      top: $responsive-page--header-height;
      left: 0;
      margin-top: 65px;
    }

    .header-links li {
      display: block;
      font-size: 25px;
      line-height: 22px;
      margin-bottom: 25px;
    }

    .header-links .notification {
      display: none;
    }

    .header-menu-label {
      background: rgba(255,255,255,0.4);
    }

    .upper-header {
      @include is-visible;

      position: absolute;
      top: 80px;
    }

    .upper-header-container {
      width: 100%;
      padding-right: 20px;
    }
  }

  .header-links li.active:after {
    content: none;
  }
}
