.login--container {
  display: block;
  width: 500px;
  margin: 100px auto;
}

.login--container form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.login--container-password {
  width: 300px;
  border: 0;
  color: $grey;
  padding: 15px;
  font-size: 18px;
  border: 1px solid $light-grey;

  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

input.button.button-large.login--container-button {
  padding: 18px 40px;
  width: 200px;
  height: 54px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

p.login--description {
  margin-top: 0px;
  font-size: 18px;
  color: $story--intro-color;
}

.login--info-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 50px;

    a.is-link {
    cursor: default;
    transition: filter 0.2s, opacity 0.2s;
  }

  &:hover {
    a.is-link {
      filter: grayscale(100%);
      opacity: 0.4;
    }
  }

}
