$modal-width: 500px;
$modal-height: auto;


.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: $z-index-10;
  &.is-active {
    opacity: 1;
    visibility: visible;
    .modal-shadow {
      opacity: 1;
      visibility: visible;
    }
    .modal-container{
      opacity: 1;
      visibility: visible;
      transition: all 0.25s ease-in-out;
    }
  }
}

/* CONTAINER
   - modal-content
   - modal-close
*/
.modal-container {
  display: block;
  position: absolute;
  background: #FFF;
  z-index: 2;
  border: none;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0s ease-in-out;

  @media (min-width: $responsive-break--mobile){
    left: 50%;
    top: 50%;
    width: $modal-width;
    height: $modal-height;
    transform: translate(-50%,-50%);
  }

  // GRADIENTS
  &:before, &:after{
    content: "";
    position: absolute;
    height: 20px;
    width: calc(100% - 8px);
    left: 0;
  }

  &:before{
    top: 0;
    // @include gradient(top,rgba(255,255,255,1),rgba(255,255,255,0));
  }

  &:after{
    bottom: 0;
    // @include gradient(top,rgba(255,255,255,0),rgba(255,255,255,1));
  }



  // CLOSE BUTTON
  .modal-close {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    z-index: 20;
    -webkit-appearance: none;
    background-color: transparent;
    box-shadow: none;
    border: 0;
    svg{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      height: 50%;
      fill: #555;
      transform: translate(-50%,-50%);
    }
    &:hover{
      svg{
        fill: darken(#555,10%);
      }
    }
  }

  // CONTENT
  .modal-content{
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    max-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    @media (min-width: $responsive-break--mobile){
      max-height: 450px;
    }
  }

}


// SHADOW
.modal-shadow {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  transition: all 0.25s linear;
}

