.pieChart {
  .labelTitle {
    font-family: Lato-Bold;
    font-size: 17px;
    fill: #FFFFFF;
  }

  .labelSubtitle {
    font-family: Lato-Bold;
    font-size: 14px;
    fill: rgba(255, 255, 255, 0.72);
  }
}
