.is-planet-pulse {
  #content {
    width: 100%;
  }
}

.planet-pulse {
  position: relative;
  height: calc(100vh - 130px);
  margin-bottom: 0;

  color: white;

  background-color: #000;

  &.is-fullscreen {
    height: 100vh;
    width: 100%;
  }
}

.planet-pulse--container {
  position: relative;
  max-width: 1040px;
  margin: 0 auto;
  height: 100%;

  &:after, &:before {
    content: '';
    display: table;
    clear: both;
  }
}

.planet-pulse--header {
  margin-top: 40px;
  position: relative;

  font-family: 'Lato';

  &:after, &:before {
    content: '';
    display: table;
    clear: both;
  }

  h1 {
    margin: 30px 0 19px 0;
    font-size: 48px;
    font-weight: $font--light;
  }

  .planet-pulse--main-nav {
    display: flex;

    &, ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    a {
      display: block;
      padding-bottom: 5px;

      color: white;
      font-size: 18px;
      text-decoration: none;
      text-transform: uppercase;

      transition: opacity .15s ease;

      &.is-active {
        border-bottom: 2px solid white;
      }
    }

    &.is-blur a {
      opacity: .7;
    }

    li {
      position: relative;
      margin-right: 30px;
      padding-bottom: 10px;

      & > ul {
        position: absolute;
        display: none;
        width: 250px;
        margin-top: 10px;
        margin-left: -15px;
        border-radius: 5px;
        background-color: white;

        li {
          margin-right: 0;
          padding-bottom: 0;
          border-bottom: 1px solid #e3e4e6;
          overflow: hidden;

          &:first-child {
            border-radius: 5px 5px 0 0;
            a {
              border-radius: 5px 5px 0 0;
            }
          }

          &:last-child {
            border-bottom-width: 0;
            border-radius: 0 0 5px 5px;
            a {
              border-radius: 0 0 5px 5px;
            }
          }
        }

        li a {
          display: block;
          padding: 15px;

          color: #393f44;
          font-size: 14px;
          text-transform: none;

          transition: all .15s ease;

          &:hover, &.is-active {
            color: #3bb2d0;
            background-color: #f1f2f3;
          }
        }
      }

      &:hover > ul {
        display: block;
      }
    }

    &:hover a {
      opacity: .7;

      &:hover {
        opacity: 1;
      }
    }
  }

  .planet-pulse--toolbar {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;

    button, a {
      display: block;
      border: 0;
      margin-left: 40px;
      padding: 0;

      color: white;
      font-size: 12px;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;

      background-color: transparent;

      opacity: .7;

      transition: opacity .15s ease;

      &:hover {
        opacity: 1;
      }
    }

    #backBtn {
      display: none;
    }
  }
}

.planet-pulse--globe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  &.is-grace {
    background: rgba(22,155,203,1);
    background: -moz-linear-gradient(top, rgba(22,155,203,1) 0%, rgba(0,120,164,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(22,155,203,1)), color-stop(100%, rgba(0,120,164,1)));
    background: -webkit-linear-gradient(top, rgba(22,155,203,1) 0%, rgba(0,120,164,1) 100%);
    background: -o-linear-gradient(top, rgba(22,155,203,1) 0%, rgba(0,120,164,1) 100%);
    background: -ms-linear-gradient(top, rgba(22,155,203,1) 0%, rgba(0,120,164,1) 100%);
    background: linear-gradient(to bottom, rgba(22,155,203,1) 0%, rgba(0,120,164,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#169bcb', endColorstr='#0078a4', GradientType=0 );
  }
}

.planet-pulse--content article {
  display: none;
  max-width: 35%;
  min-width: 400px;

  &.is-active {
    display: block;
  }

  h2 {
    display: none;
    font-size: 48px;
    font-weight: $font--light;

    @media screen and (min-height: 800px) {
      display: block;
    }
  }

  h3 {
    font-size: 26px;
    font-weight: $font--light;
    margin-top: 40px;
    margin-bottom: 15px;
  }

  p {
    font-size: 18px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  li {
    font-size: 18px;
    line-height: 28px;

    a {
      position: relative;
      color: white;
      text-decoration: none;
      padding-left: 22px;
      display: inline-block;
      padding-right: 30px;


      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 6px;
        width: 13px;
        height: 13px;
        border-radius: 100%;
        background-color: rgba(white, 0.4);
      }

      &:hover:before {
        background-color: rgba(white, 0.7);
      }

      &:hover:after {
        content: '';
        position: absolute;
        left: 3px;
        top: 9px;
        width: 7px;
        height: 7px;
        border-radius: 100%;
        background-color: rgba(#c32d7b, .4);
      }

      &.is-link {
        cursor: default;

        &:hover:before {
          background-color: rgba(white, 0.4);
        }

        &:hover:after {
          content: none;
        }
      }

      &.is-active:before {
        background-color: rgba(white, 0.7);
      }

      &.is-active:after {
        content: '';
        position: absolute;
        left: 3px;
        top: 9px;
        width: 7px;
        height: 7px;
        border-radius: 100%;
        background-color: #c32d7b;
      }

      .btn-info {
        width: 16px;
        height: 16px;
        padding: 3px;
        border-radius: 50%;
        background: #FFF;
        display: block;
        position: absolute;
        right: 0;
        top: 6px;
        svg {
          display: block;
          width: 100%;
          height: 100%;
          fill: #555;
        }
        &:hover{
          background: darken(#FFF,5%);
        }
      }
    }
  }
}

.planet-pulse--legend {
  width: 180px;
  position: absolute;
  right: 0;
  bottom: 100px;

  h3 {
    position: relative;
    font-size: 11px;
    font-weight: $font--bold;
    height: 30px;
    text-transform: uppercase;

    &:after {
      content: '';
      width: 100%;
      height: 4px;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  a {
    text-transform: uppercase;
    font-weight: $font--bold;
    color: #9aa2a9;
    font-size: 11px;
    text-decoration: none;
  }

  .color-umd:after, .color-forma:after {
    background-color: #BE688D;
  }
  .color-protected-areas:after {
    background-color: #38C10F;
  }
  .color-fires:after {
    background: linear-gradient(90deg, #FEFB00, #FF3C00);
  }
  .color-grace:after {
    /* background: linear-gradient(90deg, #1d4ad8, #c7ffff); */
    background: #1d4ad8;
    background: -moz-linear-gradient(left, #1d4ad8 0%, #2470fb 25%, #2cbefd 50%, #33ecfd 75%, #c7ffff 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1d4ad8), color-stop(25%,#2470fb), color-stop(50%,#2cbefd), color-stop(75%,#33ecfd), color-stop(100%,#c7ffff));
    background: -webkit-linear-gradient(left, #1d4ad8 0%,#2470fb 25%,#2cbefd 50%,#33ecfd 75%,#c7ffff 100%);
    background: -o-linear-gradient(left, #1d4ad8 0%,#2470fb 25%,#2cbefd 50%,#33ecfd 75%,#c7ffff 100%);
    background: -ms-linear-gradient(left, #1d4ad8 0%,#2470fb 25%,#2cbefd 50%,#33ecfd 75%,#c7ffff 100%);
    background: linear-gradient(to right, #1d4ad8 0%,#2470fb 25%,#2cbefd 50%,#33ecfd 75%,#c7ffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d4ad8', endColorstr='#c7ffff',GradientType=1 );
  }
  .color-protests:after {
    background: linear-gradient(90deg, #B362D8, #030206);
  }
  .color-conflicts:after {
    /* background: linear-gradient(90deg, #2c2da1, #60fffe); */
    background: #2c2da1;
    background: -moz-linear-gradient(left, #2c2da1 0%, #2569d5 25%, #28a0ec 50%, #2cc4f2 75%, #60fffe 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2c2da1), color-stop(25%,#2569d5), color-stop(50%,#28a0ec), color-stop(75%,#2cc4f2), color-stop(100%,#60fffe));
    background: -webkit-linear-gradient(left, #2c2da1 0%,#2569d5 25%,#28a0ec 50%,#2cc4f2 75%,#60fffe 100%);
    background: -o-linear-gradient(left, #2c2da1 0%,#2569d5 25%,#28a0ec 50%,#2cc4f2 75%,#60fffe 100%);
    background: -ms-linear-gradient(left, #2c2da1 0%,#2569d5 25%,#28a0ec 50%,#2cc4f2 75%,#60fffe 100%);
    background: linear-gradient(to right, #2c2da1 0%,#2569d5 25%,#28a0ec 50%,#2cc4f2 75%,#60fffe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2da1', endColorstr='#60fffe',GradientType=1 );
  }
  .color-epidemic:after {
    /* background: linear-gradient(90deg, #9c2d42, #fef6a5); */
    background: #9c2d42;
    background: -moz-linear-gradient(left, #9c2d42 0%, #f94d2a 50%, #fff6a5 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#9c2d42), color-stop(50%,#f94d2a), color-stop(100%,#fff6a5));
    background: -webkit-linear-gradient(left, #9c2d42 0%,#f94d2a 50%,#fff6a5 100%);
    background: -o-linear-gradient(left, #9c2d42 0%,#f94d2a 50%,#fff6a5 100%);
    background: -ms-linear-gradient(left, #9c2d42 0%,#f94d2a 50%,#fff6a5 100%);
    background: linear-gradient(to right, #9c2d42 0%,#f94d2a 50%,#fff6a5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c2d42', endColorstr='#fff6a5',GradientType=1 );
  }
  .color-population:after {
    background: linear-gradient(90deg, #f9f681, #be722a);
  }
  .color-temperature:after {
    /* background: linear-gradient(90deg, #260058, #feeb3c); */
    background: #260058;
    background: -moz-linear-gradient(left, #260058 0%, #62009f 16%, #ce0eb8 33%, #e5381b 50%, #f16a00 66%, #ffc700 83%, #feeb3c 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#260058), color-stop(16%,#62009f), color-stop(33%,#ce0eb8), color-stop(50%,#e5381b), color-stop(66%,#f16a00), color-stop(83%,#ffc700), color-stop(100%,#feeb3c));
    background: -webkit-linear-gradient(left, #260058 0%,#62009f 16%,#ce0eb8 33%,#e5381b 50%,#f16a00 66%,#ffc700 83%,#feeb3c 100%);
    background: -o-linear-gradient(left, #260058 0%,#62009f 16%,#ce0eb8 33%,#e5381b 50%,#f16a00 66%,#ffc700 83%,#feeb3c 100%);
    background: -ms-linear-gradient(left, #260058 0%,#62009f 16%,#ce0eb8 33%,#e5381b 50%,#f16a00 66%,#ffc700 83%,#feeb3c 100%);
    background: linear-gradient(to right, #260058 0%,#62009f 16%,#ce0eb8 33%,#e5381b 50%,#f16a00 66%,#ffc700 83%,#feeb3c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#260058', endColorstr='#feeb3c',GradientType=1 );
  }
}
