extends ./templates/base.jade

append vars
  - var title = 'Explore'

block header
  +header('explore')

block content
  .explore--content-container.js--explore--content
    .explore--content
      header
        h2.explore--title Explore
      .explore--search
        input.explore--search-input(type='text', placeholder='Search datasets')
        a.button.button-large.explore--search-button.is-disabled(href='#') Search
      section
        header.section-header.explore--results-header
          | 14 datasets
          ul.insights--results-filters.is-disabled
            li.active
              a(href='#')
                i.fa.fa-th-large
            li
              a(href='#')
                i.fa.fa-th-list
            li
              a.button.button-small(href='#') Filter
        .gridbox.js-explore-datasets
  #map.explore--map.js--explore--map
    a.js--map-expand.explore--map-button.is-mobile-hidden(href='#')
      i.fa.fa-chevron-left
  .explore--map-legend.is-mobile-hidden
    ul.explore--map-legend-layers
    ul.explore--map-legend-controls.is-disabled
      li
        i.fa.fa-pencil
        |  Create Insight
      li
        i.fa.fa-cog
      li
        i.fa.fa-share-alt

block footer
  | &nbsp;
