extends ./templates/base.jade

append vars
  - var title = 'A factory is being built in your neighborhood. Can you do anything about it?'
  - var contentClassName = 'insights--interactive-map'

block header
  +header('insights')

block content
  #js-map.insights--interactive-map-container
  ul.story--breadcrumbs.insights--interactive--breacrumbs
    li
      a(href='insights.html') Insights
    li &nbsp;Interactive
  .insights--interactive-scenario-legend
    h2 Farms to feel squeeze as competition for water increases
    p Farmers are facing increasing competition for water from the growth of cities and industrialization, and are likely to see big changes in rainfall because of climate change. This map shows the world’s irrigated farmland, color-coded by the rate at which water stress, a measure of competition for water, is likely to change. In total, 35 percent of irrigated farmland is likely to see substantial increases in water stress by 2040.
    hr
    .slider
    .slider-values
      span 2020
      span 2030
      span 2040
  .insights--interactive-layers-legend
    h3 Layers
    ul.explore--map-legend-layers
      li Change in water stress
        span.onoffswitch
          span
    .chloropleth
      span
      span
      span
      span
      span
      span
      span
      div
        span > 2.8x increase
        span > 2.8x decrease
    ul.explore--map-legend-controls.insights--interactive-map-legend-controls
      li
        a(href="explore-detail.html#8") Open in data map
      li
        a.is-disabled
          i.fa.fa-cog
      li
        a.is-disabled
          i.fa.fa-share-alt
  a#fullscreenBtn Full screen

block footer
