extends ./templates/base

append vars
  - var className = 'is-login-page'

block header

block content
  .login--container.js--main-login
    form#login
      input#password.login--container-password(type='password', name='password', placeholder='Type your secret password')
      input.button.button-large.login--container-button(type='submit', value='Submit')
    .login--info-container
      section
        header.section-header
          h3 Please note
        p.login--description
          | This is a prototype and currently under development. To request access, please
          a(href='mailto:resourcewatch@wri.org?Subject=Requesting access to the World Resource prototype')= ' contact us.' 

block footer
