input.button,
a.button,
a.button.button-grey:hover {
  background-image: linear-gradient(-180deg, #C32D7B 0%, #B6216E 100%);
  border-radius: 3px;
  color: #FFFFFF;
  letter-spacing: 1.07px;
  line-height: 17px;
  border: 0;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.24);
  text-align: center;
}

a.button.button-small {
  font-size: 12px;
  height: 30px;
  padding: 0 10px;
  line-height: 27px;
}

a.button.button-large {
  width: auto;
  height: 45px;
  padding: 14px 23px;
  font-size: 13px;
}

a.button.button-blue {
  background-image: none;
  background: #00A6DE;
}

a.button.button-grey {
  background-image: none;
  background: #F1F2F3;
  color: #9aa2a9;
  text-shadow: none;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
}

.star-active,
.star-inactive {
  width: 17px;
  height: 17px;
  margin-right: 3px;

  position: relative;
  top: 2px;

  display: inline-block;
  background-image: url(../img/star.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

// .star-inactive {
//   background-image: url(../img/star.svg);
// }

// .star-active {
//   background-image: url(../img/star-active.png);
// }
