.m-modal-window {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2000000;

  .infowindow {
    background-color: rgba(#fff, .77);
  }
}

.modal-wrapper {
  display: flex;
  position: relative;
  margin: auto;
  z-index: 2000014;
}

.modal-container {
  width: 740px;
  margin: 0 10px;
  padding-right: 10px; //Margen para el scroll de windows
  padding: 50px;
  border: 1px solid #9AA2A9;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(#000, .09);
  background-color: #fff;
  // overflow: scroll;

  h1 {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 700;
    color: #393F44;
  }

  h2 {
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
  }

  p {
    color: #6C7379;
  }

  .btn-close {
    margin-top: 30px;
  }
}

.btn-close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  cursor: pointer;
  font-weight: bold;
  color: #6C7379;
  font-size: 32px;
  line-height: .5em;
}


